.home {
  flex-direction: column;
  margin-top: 3em;
}

.home__name {
  color: var(--clr-primary);
}

.home__role {
  margin-top: 1.2em;
}

.home__desc {
  font-size: 1rem;
  max-width: 600px;
}

.home__desc,
.home__contact {
  margin-top: 2.4em;
}

.home .link--icon {
  margin-right: 0.8em;
}

.home .btn--outline {
  margin-right: 1em;
}

.profile-img {
  border-radius: 50%;
}


@media (max-width: 600px) {
  .app .home {
    align-items: flex-start;
    margin-top: 2em;
  }
}

